@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: miamaFont;
    src: url(../fonts/Miama.otf);
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: ; */
    font-size: 1rem;
}

body {
    background: #000;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.primary-color {
    color: #E6533C;
}

.tr {}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.section-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.section-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
}

header {
    /* background-color: black; */
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

nav>h3 {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 2.8rem;
    font-style: italic;
}

#shape-text {
    font-family: miamaFont, sans-serif;
    font-size: 8.5rem;
    font-weight: 400;
}

.nav-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2.8rem;
    padding: 12px 6px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-lists li a {
    padding: 8px 20px;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.nav-lists li a:hover {
    border-radius: 46px;

    background: rgb(230, 83, 60);
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    width: 48%;
}

.banner-text>h1 {
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}

.banner-text>p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 28px 0;
}

.download-btn {
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    margin-left: 16px;

}

.banner-img {
    width: 30%;
    position: relative;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.float-card {
    padding: 17px 14px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.float-card h2 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}

.float-card p {
    color: rgba(255, 255, 255, 0.65);
    margin-top: 5px;
}

.top {
    top: 30%;
    right: 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    left: -30%;
    bottom: 5%;
    transform: translateY(-50%);
}

.left h2 {
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 1px;

}

.red-ball {
    background-color: #E6533C;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


.habit {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    gap: 100px;
}

.habit-card img {
    border-radius: 50%;
    width: 100%;
}

.habit-card h4 {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.habit-card p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
}

.extra-mile {
    padding: 40px 55px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.extra-mile button {
    margin-top: 34px;
}

.extra-mile-img {
    width: 40%;
}

.extra-mile-img img {
    border-radius: 18px;
    width: 100%;
}

.exercise img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.exercise div {
    height: 200px;
}

.exercise {

    margin-top: 60px;
}

.col-1 p,
.col-2 p {
    padding: 40px;
}

.col-1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.ex-img1 {
    background: linear-gradient(rgba(6, 255, 210, 0.4), rgba(6, 255, 210, 0.4)), url("../images/exercise1.jpg") no-repeat center center/cover;
    grid-column: span 3;
}

.ex-img2 {
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url("../images/exercise2.png") no-repeat center center/cover;
    grid-column: span 4;
}

.ex-img3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exercise3.png") no-repeat center center/cover;
    grid-column: span 3;
}

.ex-img4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exercise4.png") no-repeat center center/cover;
    grid-column: span 4;
}

.ex-img5 {
    background: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url("../images/exercise5.jpg") no-repeat center center/cover;
    grid-column: span 3;
}

.ex-img6 {
    background: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url("../images/exercise6.jpg") no-repeat center center/cover;
    grid-column: span 4;
}

.bmi-heading {
    margin-top: 70px;
    margin-bottom: 80px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.bmi-calc {
    display: flex;
    justify-content: space-between;
    gap: 175px;
    background-color: #222222;
    padding: 50px;
    margin-bottom: 90px;

}

.bmi-calc h3 {
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.bmi-chart,
.bmi-input {
    width: 50%;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    text-align: left;
    width: 50%;
}

th {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 120%;
}

.bmi-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;
}

.bmi-row1,
.bmi-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

}

input,
select,
option {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 10px;
    border-radius: 8px;
}

select {
    width: 100%;
}

input::placeholder,
select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    line-height: 22px;
}

.team {
    margin-bottom: 90px;
}

.team>h2,
.team>p {
    text-align: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.team-members>div {
    height: 270px;
    border-radius: 18px;
    padding: 15px 20px;
    align-content: end;
}

.team-members>div>h4 {
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;
}

.team-members>div>p {
    margin-top: 0px;
}

.team-member1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer1.png") no-repeat center center/cover;
}

.team-member2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer2.png") no-repeat center center/cover;
}

.team-member3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer3.png") no-repeat center center/cover;
}

.team-member4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer4.png") no-repeat center center/cover;
}

.team-member5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer5.png") no-repeat center center/cover;
}

.team-member6 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trainer6.png") no-repeat center center/cover;
}

footer {
    background: #222222;
    padding: 65px 100px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
}

.footer-logo {
    grid-column: span 6;
}

.footer-logo h2 {
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
}

.footer-links {
    grid-column: span 3;
}

.footer-links h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-top: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

.footer-links ul li a:hover {
    color: #E6533C;
}

hr {
    border-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    margin: 30px auto;

}

.footer-bottom {
    text-align: center;
}

.footer-bottom p{
    color: rgba(255, 255, 255, 0.5);
}

.hide {
    display: none;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
        gap: 50px;
    }

    .banner-text {
        width: 100%;
    }

    .banner-img {
        width: 100%;
    }

    .float-card {
        position: relative;
        padding: 20px;
        margin-top: 20px;
    }

    .left {
        display: none;
    }

    .habit-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .extra-mile {
        flex-direction: column;
        gap: 50px;
    }

    .extra-mile-img {
        width: 100%;
    }

    .bmi-calc {
        flex-direction: column;
        gap: 50px;
    }

    .bmi-chart,
    .bmi-input {
        width: 100%;
    }

    .team-members {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top {
        grid-template-columns: repeat(6, 1fr);
    }

    .footer-logo {
        grid-column: span 6;
    }

    .footer-links {
        grid-column: span 6;
    }

    .footer-links ul li {
        margin-top: 10px;
    }

    .footer-links ul li a {
        font-size: 1.25rem;
    }

    .footer-bottom {
        padding: 20px;
    }
}